@font-face {
  font-family: 'Julee-Regular';
  src: url('fonts/Julee-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  background-color: #f9f9f9;
  color: #333;
}

footer {
  background-color: #2c3e50;
  color: white;
  padding: 1em;
  text-align: center;
}

.header-katamath {
  background-image: url('fuji.png'); /* ton image */
  background-size: cover;       /* remplit tout le header */
  background-position: center;  /* centré */
  background-repeat: no-repeat; /* pas de répétition */
  height: 300px;                /* hauteur du header */
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.6);
  font-size: 2em;
}


.header-katamath h1 {
  font-size: 5em;
  font-weight: bold;
  text-align: center;
  margin-top: 30px;
  font-family: 'Julee-Regular', sans-serif;
}


main {
  padding: 2em;
  max-width: 800px;
  margin: auto;
}

h1, h2 {
  color: #2980b9;
}

a {
  color: #2980b9;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.logo-link {
  text-align: center;
  margin-top: 80px;
}

.logo-link img {
  width: 50%;
  height: auto;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.logo-link img:hover {
  transform: scale(1.1);
}

.descriptif {
  font-size: 1.2em;
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
  color: #333;
  text-align: center;
  margin: 40px auto;
  max-width: 600px;
  line-height: 1.6;
}

.descriptif {
  background-color: #f0f8ff;
  border-left: 6px solid #2980b9;
  padding: 20px;
  border-radius: 8px;
}

.descriptif {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 1s ease forwards;
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.material-symbols-outlined {
  font-size: 20px;
  vertical-align: middle;
}

.carousel {
  position: relative;
  overflow: hidden;
  max-width: 90%;
  margin: auto;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
}

.carousel-track {
  display: flex;
  transition: transform 0.5s ease;
}

.carousel-track img {
  width: 100%;
  flex-shrink: 0;
}

.carousel-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(255,255,255,0.8);
  border: none;
  font-size: 2rem;
  cursor: pointer;
  padding: 0.5rem;
  border-radius: 50%;
}

.prev { left: 10px; }
.next { right: 10px; }
